@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
    

    body{
        @apply  bg-black backgroundImage
    }

    h1{
        @apply text-2xl text-gray-300 font-bold
    }
    h2{
        @apply text-xl text-gray-200 font-bold
    }

    .tarot{
        @apply w-28 h-40 border-8 border-quint overflow-hidden rounded-md shadow-md
         hover:border-terz
    }

    img{
        @apply saturate-200 contrast-125
    }
    .tarot-img>img{
        @apply mb-0 align-bottom 
    }
    .cards-container{
        @apply flex flex-wrap p-2 justify-center gap-2 text-center h-auto
        
    }
    .dialog-modal{
        @apply w-52 h-80 border-4 border-purple-950 rounded-xl 
    }

    .selected-card{
        @apply transition hover:scale-125

    }

    .results{
        @apply gap-4 
    }
    .act-btn{
        @apply  text-slate-400 bg-gradient-to-r from-blue-700 to-pink-600 hover:text-terz rounded-md p-2
                hover:from-indigo-500 hover:to-pink-500 hover:scale-105 transition-all duration-500 border border-red-950
    
    }

    
    .app{
        @apply h-screen w-full bg-black flex 
    }

    .tarot-page{
        @apply w-full 
    }
}


/* css che nasconde la scrollbar */


*::-webkit-scrollbar {
    width: 0;   
  }

.dialog-modal::-webkit-scrollbar {
    width: 0;   
  }

  .tarot-page:hover::-webkit-scrollbar{
  width: 0; /* Imposta la larghezza della scrollbar quando attiva */
}
.tarot-page::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Colore della scrollbar */
    border-radius: 5px; /* Bordi arrotondati */
  }



/* Esempio di margine negativo */


 @media (max-width: 640px){
    
        .tarot{
            @apply w-16 h-24 border-4  rounded-sm shadow-md
        }
        .choosen-card-button {
            @apply -ml-8 -mt-2 p-12 bg-transparent hover:bg-transparent hover:opacity-50
        }
        
        .cards-container{
            @apply space-x-0 translate-y-0
        }
 }
 
 .backgroundImage {
    background-image: url("./assets/sfondo-blur.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: difference;
  }